<div id="add-metric-value-<%= @metric.id %>">
  <div class="container pt-3 mb-3">
    <%= simple_form_for [@metric, @metric_value], url: metric_metric_values_path(@metric) do |f| %>
      <%= f.hidden_field :metric_id %>
      <%= f.input :value %>
      <%= f.button :submit, 'Save', class: 'btn btn-outline-danger' %>
      <%= link_to 'Cancel', cancel_metric_metric_values_path(@metric), class: 'btn btn-outline-secondary', data: { turbo_stream: true } %>
    <% end %>
  </div>
</div>
