<div id="card-metric-<%= metric.id %>" class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <div>
      <h5 class="card-title pt-1"><%= metric.name %></h5>
    </div>
    <div>
      <%= link_to 'Add Value', new_metric_metric_value_path(metric), class: 'btn btn-outline-danger px-4 rounded-pill', data: { turbo_stream: true } %>
    </div>

  </div>
  <div class="card-body">
    <div id="add-metric-value-<%= metric.id %>">
    </div>
    <% if metric.metric_values.any? %>
      <div class="container" id="metric-<%= metric.id %>-values">
        <div class="col-10">
          <div class="chart-container ms-5">
            <% last_24_hours = (0..23).map { |i| (Time.now - i.hours).beginning_of_hour }.reverse %>
            <% hourly_values = last_24_hours.map do |hour|
              value = metric.metric_values.where(created_at: hour..hour.end_of_hour).sum(:value)
              [hour, value]
            end %>
            <canvas data-controller="chart"
              data-chart-metric-name-value="<%= metric.name %>"
              data-chart-metric-values-value='<%= hourly_values.map(&:last) %>'
              data-chart-metric-labels-value='<%= hourly_values.map { |hour, _| format_timestamp(hour) } %>'>
            </canvas>
          </div>
        </div>
        <div class="col-10">
          <div id="metric-averages" class="d-flex flex-wrap justify-content-around gap-3 mt-3 ms-5">
            <div class="card text-center" style="width: 10rem;">
              <div class="card-body">
                <h6 class="card-title">Avg/Minute</h6>
                <p class="display-6"><%= metric.average_per_minute.round(1) %></p>
              </div>
            </div>

            <div class="card text-center" style="width: 10rem;">
              <div class="card-body">
                <h6 class="card-title">Avg/Hour</h6>
                <p class="display-6"><%= metric.average_per_hour.round(1) %></p>
              </div>
            </div>

            <div class="card text-center" style="width: 10rem;">
              <div class="card-body">
                <h6 class="card-title">Avg/Day</h6>
                <p class="display-6"><%= metric.average_per_day.round(1) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <h6 class="text-center">No values for this metric yet. Go ahead and add some values</h6>
    <% end %>
  </div>
</div>








